<div class="container">
  <form class="form-group" action='./update' method='get'>
    <br />
    <% function compare( a, b ) {
            if ( a.serial_no < b.serial_no ){
              return -1;
            }
            if ( a.serial_no > b.serial_no ){
              return 1;
            }
            return 0;
        }%>
    <% packageList.sort(compare) %>
    <select name="packageId" class="form-control" text="select package">
      <option hidden disabled selected>Select Package Serial ID</option>
      <% for(let package of packageList) { %>
      <option value=<%=package.id%>><%= `${package.serial_no}` %></option>
      <% } %>
    </select>
    <br />
    <br />
    <button type="submit" class="btn btn-primary" value="Submit"> Update Package </button>
  </form>
</div>

