<html>

<HEAD>
</HEAD>

<body>
  <% include ../common/alert %>
  <form method="post" action="http://localhost:3000/train/edit">
    <div>
      <label for="name">Train Name:</label>
      <input type="text" name="name" value=<%= name %>>
    </div>
    <div>
      <label for="trainNo">Train Name:</label>
      <input type="text" name="trainNo" value=<%= trainNo %>>
    </div>
    <div>
      <label for="name">Train id:</label>
      <input type="text" readonly name="id" value=<%= id %>>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Update details</button>
    </div>
  </form>
</body>
<style>
  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  form div+div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
         By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 190px;
    /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
         between the labels and their text fields */
    margin-left: 12.0em;
  }
</style>

</html>

