<div class="container">
	<table class ="table" id="table">
		<tr>
			<th>Train name</th>
			<th>Train number</th>
		</tr>

	</table>

	<br>
	<br>
	<form action="http://localhost:3000/train/add" method='get'>
		<button class="btn btn-primary" type="submit" value="Submit">Add Train</button>
	</form>


</div>
<script>
	$(document).ready(function () {
		$.get("http://localhost:3000/train/", function (data, status) {
			console.log(data);
			for (let train of data) {
				$("#table").append(`<tr> <td>${train.name} </td>
						<td>${train.trainNo} </td>
					<td><a class="btn btn-info" href ="http://localhost:3000/train/edit?_id=${train.id}">Edit</a> </td></tr>`);
			}
		})
	});
</script>