<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Access Level</th>
    </tr>
    <% function compare( a, b ) {
      if ( a.name.toLowerCase() < b.name.toLowerCase() ){
        return -1;
      }
      if ( a.name.toLowerCase() > b.name.toLowerCase() ){
        return 1;
      }
      return 0;
  }%>
    <% usersArray.sort(compare) %>
    <form action='view_users/editUserRole' method='get'>
      <% for (user of usersArray) { %>
      <tr>
        <td> <%= `${user.name}` %> </td>
        <td> <%= `${user.email}` %> </td>
        <% if (user.roleAssign) { %>
        <td> <%= `${user.roleAssign.role.name}` %></td>
        <td> <%= `${user.roleAssign.role.level}` %></td>
        <% } else { %>
        <td> Unassigned </td>
        <td> Unassigned </td>
        <% } %>
        <td>
          <button class="btn btn-primary" type="submit" value=<%= user.id %> name="user_id">
            Edit role
          </button>
        </td>
      </tr>
      <% } %>
    </form>
  </table>
  <br />
</div>

